@using MVC_EF.ViewModels
@model EditGradeViewModel
@{
    ViewBag.Title = "Modifica";
}
<h2>Modifica</h2>
@using (Html.BeginForm("Modifica", "Home")) {
    <p>Id Studente: @Html.TextBoxFor(m => m.IdStudente)</p>
    <p>Id Corso: @Html.TextBoxFor(m => m.IdCorso)</p>
    <p>Voto: @Html.TextBoxFor(m => m.Voto)</p>
    <input type="submit" value="Salva" />
}